body {
	font-family: "Arial"
}
.main-image {
margin-left: 8px;
}

.small_text {
	font-size: 10px;
}

a{
	text-decoration: none;
}
.red_uppercase {
	font-size: 10px;
	text-transform: uppercase;
	color: red;

}

blockquote{
	font-weight: bold;
}